.sectionPart {
	-webkit-perspective: 300px;
	-moz-perspective: 300px;
	-o-perspective: 300px;
	perspective: 300px;
}
#imageRotate {
	-webkit-transition: all 4s ease-in-out;
	-moz-transition: all 4s ease-in-out;
	-o-transition: all 4s ease-in-out;
	transition: all 4s ease-in-out;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}
.rotate {
	-webkit-transform: rotateY(-720deg);
	-moz-transform: rotateY(-720deg);
	-o-transform: rotateY(-720deg);
	transform: rotateY(-720deg);
}